# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# CocoaPods / Carthage (not used, but pre-empt)
Pods/
Carthage/Build/

# macOS
.DS_Store

# Misc
*.log
